<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>
<h2 style="color:crimson;"></h2>

{{#if mensajes.length }}
    {{#each mensajes}}
        {{!-- <b>{{this.emisor}} </b> [{{this.fechahora}} ]: {{this.texto}} <br> --}}
        {{!-- <b  style="color:blue">{{this.emisor}} </b> [ <span style="color:brown">{{formatDate this.fechaHora}}</span>]:  <i style="color:green">{{this.texto}} </i><br> --}}
        <b  style="color:blue">{{this.author.alias}} </b> [ <span style="color:brown">{{formatDate this.fechahora}}</span>]:  <i style="color:green">{{this.text}} </i><br>
    {{/each}}
    <br>
{{else}}
    <h3 class="alert alert-danger">No se encontraron mensajes</h3>
{{/if}}
